.div_esquerda {
    background-color: #F2F2F2;
    background-image: url("../../assets/Group.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;
    width: 100%;
    width: 100vh;

}

.div_direita {
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 35%;
}

#sigla {
    margin-top: 2rem;
    color: var(--verde-primario);
    font-size: 2rem;
}